a:hover,
a:link,
a:visited {
  text-decoration: none;
  line-height: 1.3;
}

a:hover,
body {
  line-height: 1.3;
}

a:hover,
html {
  cursor: url(../img/5.png), auto;
}

body,
p {
  font-weight: 700;
  color: #39f;
}

.splashbd,
.splashct {
  width: 95%;
  height: 95%;
  margin: .5em;
  position: relative;
  display: flex;
  flex-direction: column;
}

body {
  background: #eafbff;
  background: linear-gradient(131deg, #eafbff 40%, #a7eeff 100%);
  font-family: 'Zen Maru Gothic';
  overflow-x: hidden;
  overflow-y: hidden;
}

h1,
h2 {
  background: -webkit-linear-gradient(pink, #f69);
  -webkit-text-stroke: 4px transparent;
  font-family: 'Hachi Maru Pop';
  margin: 1%;
  padding: 1%;
  color: #fff;
}

a:link,
a:visited {
  color: #00c3ff;
  font-weight: 700;
}

a:hover {
  color: #f69;
  background-color: transparent;
}

p {
  line-height: 1.3em;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
}

h1 {
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 3em;
}

h2 {
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 1em;
  letter-spacing: 5px;
}

ul {
  list-style-image: url(../img/6.png);
}

#splashtop {
  background-image: url(../img/7.png);
  background-repeat: repeat-x;
  background-position: right;
  height: 1em;
}

#splash {
  width: 48em;
  border: 3px solid #3fabde;
  background: url(../img/8.png) #d7f2fa;
  margin: .5em;
  padding-bottom: .5em;
  z-index: 1;
}

#content {
  padding: 1% 2%;
}

.splashbd {
  padding: 1%;
  border: 1px solid #3fabde;
  border-radius: 5px;
  background-image: url(../img/9.png);
}

.splashct {
  padding: 1.5%;
  border: 1px solid #3fabde;
  border-radius: 5px;
  background: rgba(255, 255, 255, .7);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

::-moz-selection {
  color: #fff;
  text-shadow: -1px -1px 0 #f69, 1px -1px 0 #f69, -1px 1px 0 #f69, 1px 1px 0 #f69, 0 0 6px #f69;
}

::selection {
  color: #fff;
  text-shadow: -1px -1px 0 #f69, 1px -1px 0 #f69, -1px 1px 0 #f69, 1px 1px 0 #f69, 0 0 6px #f69;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3fabde #d7f2fa;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #d7f2fa;
}

::-webkit-scrollbar-thumb {
  background-color: #3fabde;
  border-radius: 10px;
  border: 3px #fff;
}

.img-1,
.img-3,
.img-4 {
  position: absolute;
  z-index: 1;
}

.img-1 {
  right: 0;
  top: 0;
  width: 40%;
}

.img-2 {
  position: fixed;
  left: 17.5%;
  bottom: -4%;
  width: 23%;
}

.img-3 {
  left: 16.5%;
  top: 4%;
  z-index: 1;
  width: 20%;
}

.img-4 {
  right: -5%;
  bottom: -5%;
  z-index: 1;
  width: 40%;
}

@media (max-width: 900px) {
  .img-1,
  .img-2,
  .img-3,
  .img-4 {
    display: none;
  }
}